{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block title %}
  {% trans "Edit Profile" %}
{% endblock title %}
{% block content %}
{% include "snippets/info2.html" %}
    <div class="container accordion-item" style="border-radius: 25px;">
        <div class="row p-3">
            <div class="col-md-8 card p-5 mx-auto" style="margin-top:-100px;">
                <h2 class="text-center"> Edit Your Profile </h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn  btn-lg btn-block col-12 btn-success" type="submit">{% trans "Save" %}</button>
                </form>
            </div>
        </div>
    </div>
<style>
    .text-muted
    {
        display:none;
    }
    
</style>
{% endblock content %}