{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}
  {% trans "Forgot Password" %}
{% endblock title %}
{% block content %}
{% include "snippets/info2.html" %}
  <div class="container">
      <div class="row accordion-item" style="border-radius: 25px; margin-top:-100px;">
          <div class="col-md-8 mx-auto mt-5 mb-5 card p-5" style="">
            <h3 class="text-center mb-3">Reset your Password</h3>
              {% if request.GET.m == "s" %}
              <h3 class="text-center mb-5">Password reset link is sent to your email check your inbox immediately ..</h3>
              {% else %}
              {% if request.GET.m == "e" %}
              <h3 class="text-center text-danger mb-5">Someting went wrong please enter your email again</h3>
              {% endif %}
              <form action="{% url 'porto:forgot_password' %}" method="post">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <button class="btn btn-dark btn-lg btn-block col-md-12" type="submit">{% trans "Get Reset Link" %}</button>
              </form>
              {% endif %}
          </div>
      </div>
  </div>
  <style>
    .text-muted
    {
        display:none;
    }
    body
    {
        background-color: white;
    }
</style>
{% endblock content %}