{% extends "base.html" %}
{% load i18n static %}
{% if user.is_authenticated %}
{% block title %}{% trans "Profile" %}{% endblock title %}
{% block content %}
{% include "snippets/info2.html" %}

<div class="container mt-5 mb-5 " id="accordionExample">
  <div class="row card p-5" style="margin-top: -150px;">
    <a class="col-1" href="{% url 'porto:student_edit_profile' profile.id %}" style="color: #000000">
      <i class="fas fa-user-edit" style="font-size:24px"></i>
    </a>
    <div class="row accordion-item p-4 m-2" style="border-radius: 25px;">
      <h2 class="text-center"> {% trans "Personal Info" %} </h2>
      <hr>
      <div class="col-md-6 mx-auto">
        <p><span class="font-weight-bold"><strong>{% trans "Username" %} :</strong></span><span> {{request.user.username}}</span></p>
        <p><span class="font-weight-bold"><strong>{% trans "Full Name" %} :</strong></span><span> {{request.user.students.full_name}}</span></p>
        {% if request.user.students %}
        <p><span class="font-weight-bold"><strong>{% trans "Proffession" %} :</strong></span><span> {% trans "Student" %}</span></p>
        {% elif user.is_authenticated %}
        <p><span class="font-weight-bold"><strong>{% trans "Proffession" %} :</strong></span><span> {{profile.job}}</span></p>
        {% endif %}
        <p><span class="font-weight-bold"><strong>{% trans "Email" %} : </strong></span><span> {{request.user.email}}</span></p>
        <p><span class="font-weight-bold"><strong>{% trans "Phone" %} : </strong></span><span>{{profile.phone}}</span></p>
        <p><span class="font-weight-bold"><strong>{% trans "Address" %} : </strong></span><span>{{profile.address}}</span></p>
        {% if request.user.students %}
        <p><span class="font-weight-bold"><strong>{% trans "Joined On" %} : </strong></span><span>{{request.user.students.join_on}}</span></p>
        {% elif user.is_authenticated %}
        <p><span class="font-weight-bold"><strong>{% trans "Joined On" %} : </strong></span><span>{% now "jS F Y H:i" %}</span></p>
        {%endif%}
      </div>
      <div class="col-md-4 mx-auto">
          {% if profile.image %}
            <img src="{{profile.image.url}}" style="height: 300px; width: 300px;" alt="Circle Image" class="img-raised rounded-circle img-fluid mb-5">
          {% else %}
            <img src="{% static 'img/default_user.png' %}" style="height: 300px; width: 300px;" alt="Circle Image" class="img-raised rounded-circle img-fluid">
          {% endif %}
      </div>
    </div>
  </div>
  {% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<div class="row card p-5 mt-5">
    <h1 class="text-center mb-5">
      {% trans 'My Courses' %}
    </h1>
    {% if student_courses %}
      {% for pc in student_courses  %}
        <div class="col-md-12 mx-auto card mb-3 px-0">
          <div class="row g-0 mx-0">
            <div class="col-sm-2 card p-5" style="border-radius:0;">
              <img src="{{pc.poster.url}}" style="width: 100%;" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7 p-0">
              <div class="p-3">
                <h5 class="card-title">{{pc.title}}</h5>
                <p class="card-text" style="text-align: justify;">{{pc.description|slice:"0:150"}} ...</p>
                <p class="card-text"><small class="text-muted">Last updated {{pc.started_at|timesince}} ago</small></p>
              </div>
            </div>
            <div class="col-md-3">
              <a href="{% url 'porto:order_had_finished' pc.id request.user.first_name %}" class="btn btn-lg btn-dark pb-5" style="width:100%;height:100%;border-radius:0; text-align: center;">
                <span style="position: relative;top: 50%;transform: translateY(-50%);"><i class="fas fa-running mx-2"></i> Go To Course</span>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <div class="col-md-12 mt-5">
            <h1 class="text-center">{% trans 'Opps !' %}</h1>
            <h3 class="text-center">{% trans 'You have no courses yet ! ' %} &#128549;</h3>
        </div>
    {% endif %}    
  </div>
{% else %}
<div class="row card p-5 mt-5">
    <h1 class="text-center mb-5">
      {% trans 'My Courses' %}
    </h1>
    {% if student_courses %}
      {% for pc in student_courses  %}
        <div class="col-md-12 mx-auto card mb-3 px-0">
          <div class="row g-0 mx-0">
            <div class="col-sm-2 card p-5" style="border-radius:0;">
              <img src="{{pc.poster.url}}" style="width: 100%;" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7 p-0">
              <div class="p-3">
                <h5 class="card-title">{{pc.title_ar}}</h5>
                <p class="card-text" style="text-align: justify;">{{pc.description_ar|slice:"0:150"}} ...</p>
                <p class="card-text"><small class="text-muted"> {% trans 'Last updated' %}  {% trans 'ago' %} {{pc.started_at|timesince}} </small></p>
              </div>
            </div>
            <div class="col-md-3">
              <a href="{% url 'porto:order_had_finished' pc.id request.user.first_name %}" class="btn btn-lg btn-dark pb-5" style="width:100%;height:100%;border-radius:0; text-align: center;">
                <span style="position: relative;top: 50%;transform: translateY(-50%);"> {% trans 'Go To Course' %} <i class="fas fa-running mx-2"></i></span>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <div class="col-md-12 mt-5">
            <h1 class="text-center">{% trans 'Opps !' %}</h1>
            <h3 class="text-center">{% trans 'You have no courses yet !' %} &#128549;</h3>
        </div>
    {% endif %}
    
      
  </div>
{% endif %}
  
</div>

{% endblock content %}
{% else %}
    <p>{% trans "Welcome, new user. Please log in." %}</p>
{% endif %}