{% load static %}

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta content="" name="description">
<meta content="" name="keywords">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Favicons -->
<link href="{% static '' %}img/logo.png" rel="icon">
<link href="{% static '' %}img/logo.png" rel="apple-touch-icon">

<!-- Vendor CSS Files -->
<link href="{% static '' %}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static '' %}vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="{% static '' %}vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="{% static '' %}vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static '' %}css/style.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/cba01bb0d0.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
