{% load static %}

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta content="" name="description">
<meta content="" name="keywords">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Favicons -->
<link href="{% static '' %}img/logo.png" rel="icon">
<link href="{% static '' %}img/logo.png" rel="apple-touch-icon">

<!-- Vendor CSS Files -->
<link href="{% static '' %}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static '' %}vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="{% static '' %}vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="{% static '' %}vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static '' %}css/style.css" rel="stylesheet">