{% extends 'base.html' %}
{% load static i18n django_bootstrap5 %}
{% block title %}{% trans "Karim Aboelazm" %}{% endblock %}
{% block content %}
{% include "snippets/info2.html" %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<main id="main">
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a"> 
                            {{course.title}} {% trans "Course Details" %}
                        </h3>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <div class="work-img p-5">
                            <img src="{{course.poster.url}}" alt="" class="img-fluid mx-auto" style="width:100%">
                        </div>
                    </div>
                    <div class="work-box">
                        {% if course.course_reviews_set.all %}
                                {% for review in course.course_reviews_set.all|slice:"0:1"  %}
                                    <section id="testimonials" style="width: 100%;">
                                        <div class="testimonial-box-container">
                                            
                                            <div class="testimonial-box">
                                                
                                                <div class="box-top">
                                                    
                                                    <div class="profile">
                                                        
                                                        <div class="profile-img">
                                                            <img src="{% static '' %}img/user.jpeg" />
                                                        </div>
                                                        
                                                        <div class="name-user">
                                                            <strong>{{review.user_name|title}}</strong>
                                                            <span>@{{review.user_name|lower}}</span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="reviews">        
                                                        {% for item in "x"|ljust:review.rating %}
                                                            <i class="fas fa-star"></i>
                                                        {% endfor %}                                                            
                                                    </div>
                                                </div>
                                                
                                                <div class="client-comment">
                                                    <p style="text-align: justify;">{{review.comment}}.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                {% endfor %}
                        {% else %}
                           <p>No Review ! &#128549; </p>
                        {% endif %}
                    </div>        
                </div>
                <div class="col-md-8">
                    <div class="work-box">
                        <div class="work-content p-5">
                           <h1 class="text-left">{{course.title}} Course </h1>
                           <hr style="width: 150px;">
                           <p style="text-align: justify;"><strong>Description :</strong> <span>{{course.description}}</span></p>
                            {% if course.requirements_set.all %}
                                <p style="text-align: justify;"><strong>Requirements :</strong> 
                                    <ul>
                                        {% for req in course.requirements_set.all  %}
                                            <li class="text-mute">{{req}}</li>
                                        {% endfor %}
                                    </ul>
                                </p>
                            {% else %}
                                <p style="text-align: justify;"><strong>Requirements :</strong>  <span> This Course for beginners </span></p>
                            {% endif %}
                            {% if course.discount > 0 %}
                                {% if course.price > 0 %}
                                    <p class=""><strong>Old Price : </strong>  <span> <del class="mx-2"> $ {{course.price}} </del></span></p>
                                    <p class=""><strong>New Price : </strong>  <span> $ {{course.price_after_discount}}</span></p>
                                {% else %}
                                    <p class=""><strong>Course Price : </strong>  <span> Free </span></p>
                                {% endif %}
                            {% else %}
                                <p class=""><strong>Course Price : </strong>  <span> $ {{course.price}}</span></p>
                            {% endif %}
                            <p style="text-align: justify;"><strong>Created at :</strong> <span>{{course.started_at|timesince}} ago</span></p>
                            <p style="text-align: justify;"><strong>Created by :</strong> <span>Eng Karim Mohammed Aboelazm </span></p>
                            
                            {% if course_had_paid == "done" %}
                            <div class="card pt-3">
                                <p class="text-center" style="font-size:20px">You had paid this course 
                                    <a href="{% url 'porto:student_profile' %}"> check your profile <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </p>
                            </div>
                            {% else %}
                            <a href="{% url 'porto:add_to_cart' course.id %}" class="col-md-12 btn btn-lg  mx-auto text-white bg-dark   "><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</a>
                            {% endif %}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% else %}
<main id="main">
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a"> 
                             {% trans " Course Details" %} {{course.title_ar}}
                        </h3>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <div class="work-img p-5">
                            <img src="{{course.poster.url}}" alt="" class="img-fluid mx-auto" style="width:100%">
                        </div>
                    </div>
                    <div class="work-box">
                        {% if course.course_reviews_set.all %}
                                {% for review in course.course_reviews_set.all|slice:"0:1"  %}
                                    <section id="testimonials" style="width: 100%;">
                                        <div class="testimonial-box-container">
                                            
                                            <div class="testimonial-box">
                                                
                                                <div class="box-top">
                                                    
                                                    <div class="profile">
                                                        
                                                        <div class="profile-img">
                                                            <img src="{% static '' %}img/user.jpeg" />
                                                        </div>
                                                        
                                                        <div class="name-user">
                                                            <strong>{{review.user_name|title}}</strong>
                                                            <span>@{{review.user_name|lower}}</span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="reviews">        
                                                        {% for item in "x"|ljust:review.rating %}
                                                            <i class="fas fa-star"></i>
                                                        {% endfor %}                                                            
                                                    </div>
                                                </div>
                                                
                                                <div class="client-comment">
                                                    <p style="text-align: justify;">{{review.comment}}.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                {% endfor %}
                        {% else %}
                           <p>No Review ! &#128549; </p>
                        {% endif %}
                    </div>        
                </div>
                <div class="col-md-8">
                    <div class="work-box">
                        <div class="work-content p-5">
                           <h1 class="text-left"> {% trans 'course' %} {{course.title_ar}} </h1>
                           <hr style="width: 150px;">
                           <p style="text-align: justify;"><strong>{% trans 'description' %} :</strong> <span>{{course.description_ar}}</span></p>
                            {% if course.requirements_set.all %}
                                <p style="text-align: justify;"><strong>Requirements :</strong> 
                                    <ul>
                                        {% for req in course.requirements_set.all  %}
                                            <li class="text-mute">{{req}}</li>
                                        {% endfor %}
                                    </ul>
                                </p>
                            {% else %}
                                <p style="text-align: justify;"><strong>{% trans 'Requirements' %} :</strong>  <span> {% trans 'This Course for beginners' %} </span></p>
                            {% endif %}
                            {% if course.discount > 0 %}
                                {% if course.price > 0 %}
                                    <p class=""><strong>{% trans 'Old Price' %} : </strong>  <span> <del class="mx-2"> $ {{course.price}} </del></span></p>
                                    <p class=""><strong>{% trans 'New Price' %} : </strong>  <span> $ {{course.price_after_discount}}</span></p>
                                {% else %}
                                    <p class=""><strong>{% trans 'Course Price' %} : </strong>  <span> {% trans 'Free' %} </span></p>
                                {% endif %}
                            {% else %}
                                <p class=""><strong>{% trans 'Course Price' %} : </strong>  <span> $ {{course.price}}</span></p>
                            {% endif %}
                            <p style="text-align: justify;"><strong>{% trans 'Created at' %} :</strong> <span>{% trans 'ago' %} {{course.started_at|timesince}} </span></p>
                            <p style="text-align: justify;"><strong>{% trans 'Created by' %} :</strong> <span>{% trans 'Eng Karim Mohammed Aboelazm' %} </span></p>
                            
                            {% if course_had_paid == "done" %}
                            <div class="card pt-3">
                                <p class="text-center" style="font-size:20px">{% trans 'You had paid this course' %} 
                                    <a href="{% url 'porto:student_profile' %}"> {% trans 'check your profile' %} <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                                </p>
                            </div>
                            {% else %}
                            <a href="{% url 'porto:add_to_cart' course.id %}" class="col-md-12 btn btn-lg  mx-auto text-white bg-dark   "><i class="fa fa-cart-plus" aria-hidden="true"></i> {% trans 'Add To Cart' %}</a>
                            {% endif %}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endif %}
{% include 'snippets/reviews_style.html' %}
{% endblock content %}