{% extends 'base.html' %}
{% load static i18n django_bootstrap5 %}
{% block title %}{% trans "Karim Aboelazm" %}{% endblock %}
{% block content %}
{% include "snippets/info2.html" %}
<main id="main">
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-md-8 card mx-auto  mb-5" style="margin-top:-150px;">
                    <div class="row rounded p-0">
                        <div class="col-md-12 my-3">
                            <h2 class="text-center" id="price_show">
                                $ {{order.total}}
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div id="paypal-button-container" class="mb-3"></div>
                                <div id="button-after-payment" class="mb-3" style="display:none;">
                                    <a class="col-md-12 btn btn-dark" href="{% url 'porto:order_had_finished' order.id%}"><i class="fas fa-running    "></i> Go To Your Courses</a>
                                </div>
                                <script src="https://www.paypal.com/sdk/js?client-id={{client_id}}&currency=USD&disable-funding=credit,card"></script>
                                <script src="{% static  'js/paypal_main.js' %}" ></script>
                                <script>
                                    var total = '{{order.total}}';
                                    // Render the PayPal button into #paypal-button-container
                                    paypal.Buttons({
                                        style:{
                                            color:'black',
                                            shape:'rect'
                                        },

                                        // Set up the transaction  
                                        createOrder: function(data, actions) {
                                            return actions.order.create({
                                                purchase_units: [{
                                                    amount: {
                                                        value: parseFloat(total).toFixed(2)
                                                    }
                                                }]
                                            });
                                        },

                                        // Finalize the transaction
                                        onApprove: function(data, actions) {
                                            return actions.order.capture().then(function(orderData) {
                                                // Successful capture! For demo purposes:
                                                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                                var transaction = orderData.purchase_units[0].payments.captures[0];
                                                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                                                // Replace the above to show a success message within this page, e.g.
                                                const element = document.getElementById('paypal-button-container');
                                                element.innerHTML = '';
                                                element.innerHTML = '<h3 class="text-center">Thank you for your payment!</h3>';

                                                const elm = document.getElementById('price_show')
                                                elm.innerHTML = '';

                                                const btn = document.getElementById('button-after-payment')
                                                btn.style.display = 'block';
                                                // Or go to another URL:  actions.redirect('thank_you.html');
                                                
                                            });
                                        }
                                    }).render('#paypal-button-container');
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}